fieldset{
	 width:60%;
	 padding:20 20px 20px 20px;
	 margin-bottom:10px;
	 border:1px solid #708090;
	 margin:auto;
}


label { display:inline-block; width:200px;margin-left:15px; }
input { display:inline-block;}
input[type=submit] { color:#fff; background-color:green; 
}


.checkbox{width:50px}
.inline {
display: inline-block;
}
label {
min-width: 120px;
}
.titleprghp {
background:black;
height: 46px;
color: white;
font-size: 23px;
height: 46px;
line-height: 40px;
padding: 0 0 0 20px;
margin: 20px 0 20px;
}

